{% extends 'b_base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div style="background-color: bisque; height:max-content">
<center>


{% if messages %}
{% for message in messages %}
<div style = "background-color:pink;">{{ message}}</div>
{% endfor %}
{% else %}
<div style = "background-color:pink;">{{error_message}}</div>
{% endif %}
    
<div>
    <form action="{% url 'bank_app:withdraw' %}" method="POST" style="width: 300px; height:1000px;">
        {% csrf_token %}
        <br><br>
        <div>Withdraw Money from Your Account</div> <br>
        {{form|crispy}}  <br>
        <button type="submit" class="btn btn-danger">Submit</button>
    </form>
</div>
</center>
</div>

{% endblock %}