{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div style="background-color: bisque; height:max-content">
<center>

{% if messages %}
{% for message in messages %}
<div>{{ message|safe }}</div>
{% endfor %}
{% endif %}

     <div>
        <form action="{% url 'user_app:login' %}" method="POST" style="width: 300px; height:1000px;">
            {% csrf_token %}

            <br>
            <h2>Login here </h2>
            <br>

            {{form|crispy}}  <br>
            <button type="submit" class="btn btn-danger">login</button>

        </form>
    </div>

</center>
</div>

{% endblock %}
